<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="myFihrist.ayarlar" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <myFihrist.ayarlar>
            <setting name="ilkKurulum" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="veriYolu" serializeAs="String">
                <value />
            </setting>
        </myFihrist.ayarlar>
    </userSettings>
</configuration>